### Generate Random Data and Compute Mean and Standard Deviation (used in EDA):

Generate a random dataset of size 100x5 (use the _randn_ function from the _random numpy_ library). Then, compute the mean and standard deviation along each column.

In [5]:
import numpy as np

# Generate random dataset

# Compute mean and standard deviation along each column


print(f"Mean along each column: {mean}")
print(f"Standard deviation along each column: {std_dev}")

Mean along each column: [-0.10295661 -0.0168736  -0.05841267 -0.09427399  0.14574467]
Standard deviation along each column: [1.00853176 0.95662951 1.00102105 1.03436658 0.96754297]

### Matrix Multiplication (used in Linear Regression):

Given a dataset X of shape (m, n) where m is the number of samples and n is the number of features, and a vector theta of shape (n, 1), perform matrix multiplication to obtain predictions y_pred.

In [9]:
import numpy as np

# Create some sample data
# [[1, 2], [2, 3], [3, 4], [4, 5]]
# [0.5], [1]]

# Perform matrix multiplication


print(f"Predicted values: \n {y_pred}")

Predicted values:
 [[2.5]
 [4. ]
 [5.5]
 [7. ]]

### Data Cleaning (used in Handling Missing Values)

Given a dataframe df with missing values, fill the missing values with the mean of the respective column. Use functions like _fillna_ and _mean_.

In [11]:
import pandas as pd
import numpy as np

# A sample dataframe with missing values
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [np.nan, 10, 11, 12]
}

# Fill missing values with column means


print(f"DataFrame with missing values filled:\n {df_filled}")

DataFrame with missing values filled:
           A    B     C
0  1.000000  5.0  11.0
1  2.000000  6.5  10.0
2  2.333333  6.5  11.0
3  4.000000  8.0  12.0

### Grouping and Aggregation (used in data preparation):

Given a dataframe containing information about sales transactions, group the data by the 'Product' column and calculate the total sales ('Amount') for each product. Use _groupby_ and _sum_ functions.

In [4]:
import pandas as pd

# Sample sales data
data = {
    'Product': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Amount': [100, 200, 150, 250, 120, 180]
}

# Group by 'Product' and calculate total sales


print("Total sales for each product:")
print(sales_summary)

Product
A    370
B    630
Name: Amount, dtype: int64

### Merging (used in data preparation):

Given two dataframes containing information about employees and their departments, merge the dataframes based on the 'DepartmentID' column.

In [6]:
import pandas as pd

# Sample employee data
employees = {
    'EmployeeID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'DepartmentID': [101, 102, 101, 103]
}
# Sample department data
departments = {
    'DepartmentID': [101, 102, 103],
    'DepartmentName': ['HR', 'Finance', 'IT']
}

# Merge dataframes based on 'DepartmentID'


print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
   EmployeeID     Name  DepartmentID DepartmentName
0           1    Alice           101             HR
1           2      Bob           102        Finance
2           3  Charlie           101             HR
3           4    David           103             IT